.main {
  position: relative;
}
.BgImage {
  width: 100vw;
  height: 130vh;
}
.BgImageDiv {
  position: relative;
}
.BgImageDiv .logo {
  width: 20vw;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cardContainer {
  position: absolute;
  top: 10%;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.grid .card {
  width: 235px;
  height: 305px;
  padding: 0.7rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px #2d3630;
  border-radius: 0.5rem 0.5rem 2rem 0.5rem;
  background-color: #f2f2f2;
  transition: 0.3s ease-in-out;
}
.cardImage {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease-in-out;
}
.card:hover .cardImage {
  transform: scale(1.1);
}
.innerImageDiv {
  width: 210px;
  height: 210px;
  padding: 0.7rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: #e2e2e2;
}
.card:hover {
  background-color: #3383c8;
}
.counterNumber {
  font-size: 16px;
  font-weight: bold;
  color: #2d3630;
  font-family: "Ubuntu", sans-serif;
}
.buttonDiv {
  margin-top: 15px;
}
.pokemonName {
  font-size: 17px;
  font-weight: bold;
  color: #2d3630;
  padding-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s ease-in-out;
}
.card:hover .pokemonName {
  color: #f2f2f2;
}
.buttons a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 12px 5px 12px;
  box-shadow: 0.6px 0.6px 2px #2d3630ad;
  background-color: #b97fc9;
  /* background-color: #4592c4;
  background-color: #fc7c23; */
  font-family: "Ubuntu", sans-serif;
}
.buttons a:nth-child(1) {
  margin-right: 10px;
  background-color: #9bcc50;
}
.top_content,
.bottom_content {
  display: none;
}
/* =============Card media query===================== */
@media only screen and (max-width: 600px) {
  .BgImage {
    width: 100vw;
    height: 370vw;
    border-radius: 0 0 10px 10px;
  }
  .BgImageDiv .logo {
    width: 45vw;
    position: absolute;
    top: 13vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cardContainer {
    position: absolute;
    top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }
  .grid .card {
    /* display: none; */
    width: 45vw;
    height: 65vw;
    padding: 0.7rem;
    cursor: pointer;
    z-index: 1;
    box-shadow: 1px 1px 5px #2d3630;
    border-radius: 0.5rem 0.5rem 2rem 0.5rem;
    background-color: #f2f2f2;
    transition: 0.3s ease-in-out;
  }
  .cardImage {
    width: 26vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s ease-in-out;
  }
  .card:hover .cardImage {
    transform: scale(1.1);
  }
  .innerImageDiv {
    width: 38vw;
    height: 38vw;
    padding: 0.7rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #e2e2e2;
  }
  .card:hover {
    background-color: #3383c8;
  }
  .counterNumber {
    font-size: 3vw;
    font-weight: bold;
    color: #2d3630;
    font-family: "Ubuntu", sans-serif;
  }
  .buttonDiv {
    margin-top: 15px;
  }
  .pokemonName {
    font-size: 4vw;
    font-weight: bold;
    color: #2d3630;
    padding-bottom: 14px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.3s ease-in-out;
  }
  .card:hover .pokemonName {
    color: #f2f2f2;
  }
  .buttons a {
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 12px 5px 12px;
    box-shadow: 0.6px 0.6px 2px #2d3630ad;
    background-color: #b97fc9;
    /* background-color: #4592c4;
    background-color: #fc7c23; */
    font-family: "Ubuntu", sans-serif;
  }
  .buttons a:nth-child(1) {
    margin-right: 10px;
    background-color: #9bcc50;
  }
  .top_content {
    display: block;
    position: absolute;
    top: 50vw;
    width: 80vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: 500;
    word-break: break-all;
    text-align: justify;
    font-family: "Ubuntu", sans-serif;
  }
  .bottom_content {
    display: block;
    position: absolute;
    top: 157vw;
    width: 80vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-weight: 500;
    word-break: break-all;
    text-align: justify;
    font-family: "Ubuntu", sans-serif;
  }
}
/* ==================Second Part================== */
.secondMain {
  width: 100vw;
  height: auto;
  position: relative;
}
.titleDiv {
  width: 100vw;
  position: absolute;
  top: 12vw;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brush {
  width: 45vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titles {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #257bc4;
  font-size: 3.3rem;
  font-family: "Ubuntu", sans-serif;
}
.titles span {
  position: relative;
  left: 50px;
}
.left__right__images__div {
  display: flex;
  justify-content: space-between;
  margin-top: -0.21875rem;
}
.leftImage,
.rightImage {
  width: 8rem;
  height: 900px;
}

/* ==========================grid__section==================== */
.grid__section {
  width: 1050px;
  position: absolute;
  top: 590px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid__column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1.5rem;
}
/* ============left section============= */
.left_sub_row_one {
  padding-bottom: 1rem;
}
.left_sub_row_one::after {
  content: "";
  clear: both;
  display: table;
}
.left_image__one {
  width: 160px;
  height: 160px;
  float: right;
  padding-left: 1rem;
}
.left_image_two {
  width: 160px;
  height: 160px;
  float: right;
  padding-left: 1rem;
}
.image_one_description {
  word-break: break-all;
  text-align: justify;
  font-size: 1.3vw;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

/* =============right section================ */
.right_sub_row_one {
  padding-bottom: 20px;
}
.right_image__one {
  width: 160px;
  height: 160px;
  float: left;
  padding-right: 1rem;
}
.right_sub_row_two {
  padding-bottom: 20px;
}
.right_sub_row_two::after {
  content: "";
  clear: both;
  display: table;
}
.right_sub_row_three::after {
  content: "";
  clear: both;
  display: table;
}
.right_image_two {
  width: 160px;
  height: 160px;
  float: left;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* =============Second part media query========== */

@media only screen and (max-width: 600px) {
  .secondMain {
    width: 100vw;
    height: auto;
    position: relative;
  }
  .titleDiv {
    width: 150vw;
    position: absolute;
    top: 25vw;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .brush {
    width: 75vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .titles {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #257bc4;
    font-size: 6vw;
    font-family: "Ubuntu", sans-serif;
  }
  .titles span {
    position: relative;
    left: 5vw;
  }
  .left__right__images__div {
    display: flex;
    justify-content: space-between;
    margin-top: -0.21875rem;
  }
  .leftImage,
  .rightImage {
    width: 10vw;
    height: 168vw;
  }
}
/* ==========Grid section=================== */
@media only screen and (max-width: 600px) {
  .grid__section {
    width: 50vw;
    top: 106vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .grid__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.5rem;
  }
  /* ============left section============= */
  .left_sub_row_one {
    padding-bottom: 1rem;
  }
  .left_image__one {
    width: 40vw;
    height: 40vw;
    float: right;
    padding-left: 1rem;
  }
  .left_image_two {
    width: 40vw;
    height: 40vw;
    float: right;
    padding-left: 1rem;
  }
  .image_one_description {
    display: none;
  }

  /* =============right section================ */
  .right_sub_row_one {
    padding-bottom: 20px;
  }
  .right_image__one {
    width: 40vw;
    height: 40vw;
    float: left;
    padding-right: 1rem;
  }
  .right_sub_row_two {
    padding-bottom: 20px;
  }
  .right_image_two {
    width: 40vw;
    height: 40vw;
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
